.formMap
    display: flex
    flex-direction: column
    align-items: center
    background: no-repeat center / 100% url('../image/formMapBG.png')
    background-color: rgba(8, 8, 8, 0.99)
    &__formBox
        width: 883px
        height: 485px
        background: $black
        margin-top: -242px
        // border: 1px solid red
        display: flex
        flex-direction: column
        align-items: center
    &__h3
        font-family: YesevaOne
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 28px
        text-align: center
        text-transform: uppercase
        color: $white
        margin-top: 34px
    &__form *
        outline: none
    &__form
        display: flex
        flex-direction: column
        align-items: center
        width: 520px
    &__hightStrok
        display: flex
        justify-content: space-between
        width: 520px
        margin-top: 46px
    &__adres
        font-family: YesevaOne
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 28px
        text-align: center
        text-transform: uppercase
        color: $yellow
        margin-top: 52px
    &__social
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 26px
        width: 71px
        height: 28px
    &__map
        width: 925px
        height: 465px
        margin-top: 43px
        // border: 1px solid red
        margin-bottom: 66px
.hightStrok
    &__name
        display: flex
        flex-direction: column
        width: 231px
.formMap
    &__label
        font-family: FuturaBookC
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 20px
        color: rgba(255, 255, 255, 0.5)
    &__input
        background: $black
        border-width: 0
        border-bottom: 1px solid rgb(133, 133, 133)
        line-height: 1.6
        font-family: FuturaMediumC
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 25px
        color: $white
    &__input:focus
        background: $black
        border-width: 0
        border-bottom: 2px solid rgb(133, 133, 133)
        font-family: FuturaMediumC
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 25px
        color: $white
        box-shadow: 0 0 10px $white
    &__quation
        display: flex
        flex-direction: column
        width: 100%
        margin-top: 49px
    &__policity
        margin-top: 46px
    &__btn
        align-self: center
        margin-top: 50px
